{% extends 'layout.html' %}
{% block body%}
<h1 style="text-align: center;">ABOUT OUR TEAM</h1>
<br>
<div class="container-fluid">
    <P style="text-align: center;">OUR TEAM IS PROFEESIONALLY EQUIPPED. WE DELIVER THE BEST IN CLASS MATERIAL. MEET OUR FOUNDERS.</P>
</div>
<div class="card-deck container-fluid">
    <div class="card">
      <img class="card-img-top" src="https://source.unsplash.com/277x180/?people,human" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">YOUR PHOTO</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://source.unsplash.com/277x180/?people,human" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">YOUR PHOTO</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://source.unsplash.com/277x180/?people,human" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">YOUR PHOTO</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <br>
 >
{% endblock %}